@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black; */

}

a {
    text-decoration: none;
    display: block;
    color: #333;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
}

.main {
    width: 100%;
    height: 960px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg.jpg) no-repeat;
    background-size: cover;
    color: white;
}

.introduction {
    width: 800px;
    height: 955px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 20px;
    line-height: 24pt;
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.en{
    display: none;
    font-size: 20px;
    line-height: 24pt;
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.view-work2{
    display: none;

    margin-left: 35%;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    height: 60px;

    background-color: transparent;
    color: white;

    border: 3px solid white;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.main .view-work {
    margin-left: 35%;
    margin-top: 50px;
    font-size: 30px;
    width: 250px;
    height: 60px;

    background-color: transparent;
    color: white;

    border: 3px solid white;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main .view-work:hover, .view-work2:hover {
    background-color: white;
    color: black;

    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

header {
    width: 100%;
    height: 75px;

    position: relative;
    top: -955px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 2550, 255, 0.7);

    box-shadow: 1px 1px 7.5px black;
}
/* logo */
.logo {
    width: 150px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.logo a {
    font-size: 50px;
    color: black;
    font-weight: bold;
}

/* menu-fixed */
.fixed {
    position: fixed;
    top: 0;
}

.me2{
    display: none;
}
.menu, .menu2 {
    width: 550px;
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 65px;
}
.menu li, .menu2 li {
    width: 100px;
    height: 50px;
}

.m1 .M{
    color: white;
    background-color: black;
}
.menu li a, .menu2 li a {
    width: 100px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid black;
    border-radius: 30px;

    color: black;
    font-weight: bold;
    background-color: white;
}

.menu-logo img{
    width: 50px;
    height: 50px;
    margin-right: 25px;
    cursor: pointer;
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.menu-logo-close{
    width: 100%;
    height: 75px;
    
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu-logo-close img{
    width: 75px;
    height: 75px;
    margin-right: 14px;
    cursor: pointer;
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* About */
.About {
    width: 100%;
    height: 960px;

    margin-bottom: 5px;

    border-bottom: 5px solid silver;

    display: flex;
    justify-content: center;
}
.about-in{
    width: 1200px;
    height: 700px;

    margin-top: 150px;
}
.about-in h1{
    font-size: 50px;
    margin-top: 50px;
    color: #425a73;
}
.about-in .contents{
    width: 100%;
    height: 500px;

    display: flex;
}
.about-in .l{
    width: 500px;
    height: 450px;

    display: flex;
    height: 450px;
}
.about-in .r ul{
    display: flex;
}
#ab{
    text-align: end;
    width: 120px;
}
#ab2{
    margin-left: 30px;
}
.about-in .r li{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    color: gray;
}
.about-in .my2{
    display: none;
}

/* Skills */
.Skills {
    width: 100%;
    height: 960px;
    margin-bottom: 5px;
    border-bottom: 5px solid silver;
}

/* Portfolio */
.Portfolio {
    width: 100%;
    height: 960px;
    margin-bottom: 5px;
    border-bottom: 5px solid silver;
}

/* Contents */
.Contents {
    width: 100%;
    height: 960px;
}

/* footer */
footer {
    width: 100%;
    height: 100px;

    background-color: #333;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu {
    display: none; /* 처음에는 숨겨져 있음 */
    position: fixed; /* 화면에 고정되도록 설정 */
    top: 0;
    right: 0; /* 메뉴가 오른쪽에서 시작되도록 설정 */
    z-index: 10; /* 다른 요소들보다 위에 표시되도록 설정 */
    width: 100%;
    height: 100%;
}
.mi2,.close2{
    display: none;
}
.mm{
    width: 100%;
    height: 100%;
}
.mm .l{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
}
.mm .r {
    width: 150px;
    height: 100%;
    background-color: white;
    position: absolute; /* 위치를 절대값으로 설정 */
    right: -550px; /* 처음에 화면 밖에 배치 */
    top: 0;
}
.b{
    width: 100%;
    height: 100%;
}
.language{
    width: 100%;
    height: 90px;
    padding-top: 20px;
}
.language p{
    font-size: 16px;
    margin-left: 20%;
    font-weight: bold;
}
.lang{
    display: none;
}
.btn-ko{
    display: none;
}
.btn-en, .btn-ko{
    margin-left: 20%;
    margin-top: 5px;
    font-size: 20px;
    width: 100px;
    height: 40px;

    background-color: transparent;
    color: black;

    border: 3px solid black;
    border-radius: 30px;
}
.btn-en:hover, .btn-ko:hover {
    background-color: black;
    color: white;

    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.screen{
    width: 100%;
    height: 90px;
    padding-top: 20px;
}
.screen p{
    font-size: 16px;
    margin-left: 20%;
    font-weight: bold;
}
.sn2{
    display: none;
}
.btn-lt{
    display: none;
}
.btn-lt, .btn-dk{
    margin-left: 20%;
    margin-top: 5px;
    font-size: 20px;
    width: 100px;
    height: 40px;

    background-color: transparent;
    color: black;

    border: 3px solid black;
    border-radius: 30px;
}
.btn-lt:hover, .btn-dk:hover {
    background-color: black;
    color: white;

    cursor: pointer;
    position: relative;
    transition: 0.3s;
}